@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue Regular Regular"), local("BebasNeueRegular"),
    url("../fonts/BebasNeueRegular.woff2") format("woff2"),
    url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: #635854;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 4px solid #3596f5;
}

.navbar {
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  text-align: center;
}

.navbar-item {
  margin-left: 40px;
  margin-right: 40px;
}

.navbar-link {
  text-decoration: none;
  color: #fff;
}

.navbar-contacts {
  text-align: right;
}

.navbar-text {
  display: block;
  color: #fff;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 16px;
}

.navbar-phone {
  color: #fff;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
}

.main {
  max-width: 1280px;
  margin: auto;
  padding-top: 54px;
  padding-bottom: 95px;
  display: flex;
}

.main-info {
  margin: 0;
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.home-image path {
  opacity: 0;
  cursor: pointer;
}

.home-image path:hover {
  opacity: 1;
}

path.current-floor {
  opacity: 1;
}

.counter-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter-button {
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.button-primary {
  border: none;
  background-color: #3596f5;
  color: #fff;
  border-radius: 6px;
  padding: 16px 36px;
  cursor: pointer;
}

.main-title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
  font-size: 37px;
  line-height: 44px;
  color: #635854;
  font-style: normal;
  padding: 0;
  margin: 0;
}

.floor-counter {
  font-size: 124px;
  color: #635854;
  font-family: "Bebas Neue", sans-serif;
  padding-top: 0px 10px;
}

.footer {
  border-top: 4px solid #3596f5;
  background-color: #d7d7d7;
  padding-top: 50px;
  padding-bottom: 50px;
}

.bottom-bar {
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-company-contacts {
  display: flex;
  align-items: center;
}

.footer-contacts {
  text-align: left;
  padding-left: 37px;
}
.footer-contacts-text {
  display: block;
  padding-bottom: 5px;
  font-size: 14px;
  line-height: 16px;
  color: #635854;
}
.footer-phone {
  font-size: 17px;
  line-height: 20px;
  color: #635854;
  font-weight: 700;
  text-decoration: none;
}

.footer-social-img {
  display: block;
}

.social-link {
  text-decoration: none;
  padding: 0 5px;
}

.footer-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
}

.footer-link {
  color: #635854;
  padding: 0 10px;
}

.modal {
  position: fixed; /* занимает фиксированую позицию поверх всего сайта*/
  left: 0; /* приклеиваем к левому краю */
  top: 0; /* приклеиваем кверху */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex; /* родительский класс делаем гибким*/
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.2s;
}

.is-open {
  opacity: 1;
  transform: scale(1);
}

.modal-dialog {
  position: relative;
  max-width: 1000px;
  min-height: 565px;
  background-color: #fff;
  flex-grow: 1;
  display: flex;
  opacity: 0;
  transform: translateY(-10%);
  transition: transform 0.2s, opacity 0.2s;
  transition-delay: 0.2s;
}

.is-open > .modal-dialog {
  opacity: 1;
  transform: translateY(0);
}

.modal-image {
  width: 60%;
  background: #ebebeb;
  text-align: center;
  padding: 50px;
}

.flats path {
  opacity: 0;
}

.flats path:hover {
  opacity: 1;
  cursor: pointer;
}

.modal-title {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  font-family: "Bebas Neue", sans-serif;
  margin-top: 0;
  margin-bottom: 25px;
}

.modal-info {
  padding: 50px 46px;
  width: 40%;
}

.flat-list {
  padding: 0;
  list-style: none;
  margin-top: 55px;
}

.flat-item {
  padding: 5px 0;
}

.flat-link {
  font-size: 16px;
  line-height: 19px;
  color: #635854;
  text-decoration: none;
}

.flat-link:hover,
.current-flat {
  color: #3596f5;
  text-decoration: underline;
}

path.current-flat {
  opacity: 1;
}

.modal-alert {
  font-size: 16px;
  line-height: 19px;
  color: #635854;
  font-style: italic;
  font-weight: normal;
  margin-top: 56px;
}

.modal-close-button {
  position: absolute;
  right: 27px;
  top: 45px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}
